.no-margin {
  margin: 0 0;
}

#flash_messages {
  margin-top: 20px;
}

#page-wrapper {
  overflow: auto;
}

.main-box {
  margin-bottom: 50px;
}

.btn-login {
  background: #da4241;
  color: #FFFFFF;
}

.btn-login:hover {
  color: #FFFFFF;
}